@model AMS.Models.EditVisitorVM

<h4>Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" disabled="disabled" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" disabled="disabled" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resoan" class="control-label"></label>
                <input asp-for="Resoan" class="form-control" disabled="disabled" />
                <span asp-validation-for="Resoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"
                    disabled="disabled"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.PropertyId"
                    disabled="disabled"></select>
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingId" class="control-label"></label>
                <select asp-for="ParkingId" class="form-control" asp-items="ViewBag.ParkingId"
                    disabled="disabled"></select>
                <span asp-validation-for="ParkingId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PhoneNumber"></label>
                <input type="number" asp-for="PhoneNumber" class="form-control" id="PhoneNumber"
                    placeholder="Phone Number" disabled="disabled">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CarRegistration"></label>
                <input type="Name" asp-for="CarRegistration" class="form-control" id="CarRegistration"
                    placeholder="Car Registration" disabled="disabled">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
