@model AMS.Models.EditVisitorVM

@* <h4>EditVisitorVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resoan" class="control-label"></label>
                <input asp-for="Resoan" class="form-control" />
                <span asp-validation-for="Resoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.PropertyId"></select>
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingId" class="control-label"></label>
                <select asp-for="ParkingId" class="form-control" asp-items="ViewBag.ParkingId"></select>
                <span asp-validation-for="ParkingId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PhoneNumber"></label>
                <input type="number" asp-for="PhoneNumber" class="form-control" id="PhoneNumber"
                    placeholder="Phone Number">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CarRegistration"></label>
                <input type="Name" asp-for="CarRegistration" class="form-control" id="CarRegistration"
                    placeholder="Car Registration">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ConfirmationCode"></label>
                <input type="Name" asp-for="ConfirmationCode" class="form-control" id="ConfirmationCode"
                    placeholder="ConfirmationCode">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CheckOut"></label>
                <input type="Name" asp-for="CheckOut" class="form-control" id="CheckOut" placeholder="CheckOut">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<<<<<<< HEAD
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
=======
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@

<div class="card">
  <div class="card-header">
  <div class="wrapper-inner-card d-flex justify-content-between align-items-center">
            <h3 class="text-uppercase">Edit Visitor</h3>
    <button type="button" class="btn back btn-secondary"><a asp-action="Index">Back</a></button>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 card-body">
      <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                        <label asp-for="Resoan" class="control-label"></label>
                        <input asp-for="Resoan" class="form-control" />
                        <span asp-validation-for="Resoan" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="CustomerId" class="control-label"></label>
                        <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                        <label asp-for="PropertyId" class="control-label"></label>
                        <select asp-for="PropertyId" class="form-control" asp-items="ViewBag.PropertyId"></select>
                        <span asp-validation-for="PropertyId" class="text-danger"></span>
                    </div>
        </div>
        

          <div class="form-group ">
            <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block" />
          </div>
      </form>
    </div>
  </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
>>>>>>> 2217047dca9e794a047c823b33ac19c54a6a2ee3
