@{
    ViewData["Title"] = "Emegency Details";
}
<h1>@ViewData["Title"]</h1>

<h3>Emegency Phone Number: +27 56 465 4564</h3>
<h3>Emegency Altinative Number: +27 45 345 6544</h3>
<h3>Emegency Email: fgj@gmail.com</h3>
<h3>Emegency Exit Doors Options</h3>

<div>
    <a asp-controller="Home" asp-action="EmployeeIndex">Back to Home Page</a>
</div>


