@model AMS.Models.EditParkingVM

<h4>EditLoanVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <select id="LoanType" asp-for="Owner" asp-items="@AMS.Utility.Helper.GetOwnerDropDown()"
                    class="form-control">
                    <option value="">Select Person Type</option>
                </select>
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingTypeId" class="control-label"></label>
                <select asp-for="ParkingTypeId" class="form-control" asp-items="ViewBag.ParkingTypeId"></select>
                <span asp-validation-for="ParkingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isAvailable"></label>
                <input type="Name" asp-for="isAvailable" class="form-control" id="isAvailable"
                    placeholder="isAvailable">
                <span asp-validation-for="isAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
