@model AMS.Models.RentTypeVM

@* <h4>RentTypeVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RentTypeName" class="control-label"></label>
                <input asp-for="RentTypeName" class="form-control" />
                <span asp-validation-for="RentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@

<div class="card">
    <div class="card-header">
        <div class="wrapper-inner-card d-flex justify-content-between align-items-center">
            <h3 class="text-uppercase">Rent Type</h3>
            <button type="button" class="btn back btn-secondary"><a asp-action="Index">Back</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="RentTypeName" class="control-label"></label>
                        <input asp-for="RentTypeName" class="form-control" />
                        <span asp-validation-for="RentTypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFomat: "yy-mm-dd"
            });

        });

    </script>
}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

