@model AMS.Models.LoanInstallmentVM

@{
    ViewData["Title"] = "Add Loan Payment";
}

<div class="card">
    <div class="card-header">
        <div class="wrapper-inner-card d-flex justify-content-between align-items-center">
            <h3 class="text-uppercase">Add Loan Payment</h3>
            <button type="button" class="btn back btn-secondary"><a asp-action="Index">Back</a></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="LoanId" class="control-label"></label>
                        @Html.DropDownListFor(q => q.LoanId, new SelectList(Model.LoanList, "Value", "Text"),
                        "Select Loan Number",
                        new { @class = "form-control" })
                        <span asp-validation-for="LoanId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label asp-for="Amount"></label>
                        <input type="Name" asp-for="Amount" class="form-control" id="Amount" placeholder="Amount">
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="datePaid"></label>
                        <input type="Name" asp-for="datePaid" class="form-control" id="datePaid" placeholder="datePaid">
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add New Payment</button>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts{
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFomat: "yy-mm-dd"
        });

    });
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $(function () {

        $("#LoanType").change(function () {

            var val1 = $(this).val();
            var result = "";
            switch (val1) {

                case "personal":
                    result = "25%";
                    break;
                case "home":
                    result = "10%";
                    break;
                case "vehicle":
                    result = "15%";
                    break;
            }
            $("#InterestRate").val(result);
        });
    });

</script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
